<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DemoWebShopSuite" verbose="1">

    <test name="AccountTests">
        <classes>
            <class name="com.demowebshop.test.ItemTests"/>
            <class name="com.demowebshop.test.ItemTests"/>
        </classes>
    </test>

    <test name="ItemTests">
        <classes>
            <class name="com.demowebshop.test.ItemTests"/>
        </classes>
    </test>

</suite>